{% extends "layout/basic.html" %}


{% load bootstrap4 %}


{% block title %} Удаление заявки {% endblock %}


{% block content %}
<h2>Удаление заявки "{{ object.title }}"</h2>
{% if object.status == 'Новый' %}
   <p>Вы уверены, что хотите удалить эту заявку?</p>
<form method="post">
    {% csrf_token %}
    {% buttons submit='Удалить' %} {% endbuttons %}
</form>
{% else %}
    <p>Нельзя удалять заявки со статусом, отличным от "Новый"</p>
    <a href="{% url 'serv:profile' %}">Вернуться к заявкам</a>
{% endif %}
{% endblock %}