{% extends "layout/basic.html" %}

{% block content %}
  <h2>Последние 4 заявки</h2>
  {% for request in design_requests %}

    <div class="card" style="width: 22rem; margin: 23px;">
        <img src="{{ request.photo.url }}" alt="{{ design_request.title }}" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Дата: {{ request.timestamp }}</p>
        <p class="card-text">Название: {{ request.title }}</p>
        <p class="card-text">Категория заявки: {{ request.category }}</p>
      </div>
    </div>
  {% empty %}
    <p>Нет доступных заявок</p>
  {% endfor %}

  <footer class="mt-3 border-top">
      <small class="p-2">
          <p>Количество заявок в статусе "Принято в работу": {{ in_progress_count }}</p>
      </small>
  </footer>
{% endblock %}
